In [1]:
import spacy

c:\Users\FURKANSALMAN\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
nlp = spacy.load('en_core_web_sm')
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [3]:
doc = nlp('Tesla Inc is going to acquire Twitter Inc for $45 billion')

for ent in doc.ents:
    print(ent.text," ==> ", ent.label_," | ", spacy.explain(ent.label_))

Tesla Inc  ==>  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  ==>  ORG  |  Companies, agencies, institutions, etc.
$45 billion  ==>  MONEY  |  Monetary values, including unit

In [4]:
from spacy import displacy
displacy.render(doc, style='ent', jupyter=True)

Supported Named Entities:

In [5]:
nlp.pipe_labels["ner"]

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [6]:
doc = nlp("Michael Bloomberg founded Bloomberg Inc in 1981")
displacy.render(doc, style='ent', jupyter=True)

In [7]:
doc = nlp("Tesla is going to acquire Twitter Inc for $45 billion")

for ent in doc.ents:
    print(ent.text," ==> ", ent.label_," | ", spacy.explain(ent.label_))

Tesla  ==>  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  ==>  ORG  |  Companies, agencies, institutions, etc.
$45 billion  ==>  MONEY  |  Monetary values, including unit

In [8]:
type(doc[2:5])

spacy.tokens.span.Span

Customizing Named Entity Recognition:

In [9]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG") # Tesla
s2 = Span(doc, 5, 6, label="ORG") # Twitter

doc.set_ents([s1, s2], default="unmodified")

In [10]:
for ent in doc.ents:
    print(ent.text," ==> ", ent.label_," | ", spacy.explain(ent.label_))

Tesla  ==>  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  ==>  ORG  |  Companies, agencies, institutions, etc.
$45 billion  ==>  MONEY  |  Monetary values, including unit

Now It recognizes the custom named entities.

# Exercises:

Excersie: 1
Extract all the Geographical (cities, Countries, states) names from a given text

In [13]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [17]:
spacy.explain("GPE")

'Countries, cities, states'

In [20]:
locs = [ent.text for ent in doc.ents if ent.label_ == "GPE"]
print(f"Geographical Locations : {locs}\nCount = {len(locs)}")

Geographical Locations : ['India', 'Delhi', 'Gujarat', 'Tamilnadu', 'Pongal', 'Andhrapradesh', 'Assam', 'Bihar']
Count = 8

Excersie: 2
Extract all the birth dates of cricketers in the given Text

In [21]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [24]:
dates = [ent.text for ent in doc.ents if ent.label_ == "DATE"]
print(f"All Birth Dates : {dates}\nCount = {len(dates)}")

All Birth Dates : ['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']
Count = 4